@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Layout */

body {
    background: #dedede;
    color: #fff;
    font-family: 'Lato', sans-serif, Arial;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.container {
    overflow: hidden;
    width: 100%;
    margin: 0px;
}
.container svg {
    display: block;
}
section {
    position: relative;
    padding: 10em;
    background: #a2c108;
    color: #fff;
    text-align: center;
}
section h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 400;
}
section p {
    color: #000;
    padding: 2%;
    font-size: 12px;
    line-height: 1.5;
}
footer {
    padding: 6%;
    background-color: #1d353e;
}
.main-banner {
    padding-top: 32%;
    background-image: url(../images/bn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.main-banner-box {
    background-color: rgba(15, 96, 87, 0.8);
    width: 62%;
    height: 20em;
    float: right;
    position: relative;
    left: 20%;
    margin-top: -26%;
}
.main-banner-box .text {
    margin-top: 3em;
    text-align: left!important;
    padding-left: 3em;
    margin-right: 25%;
}
.font-normal {
    font-weight: 400;
}
.font-ligth {
    font-weight: 100;
}
.font-bold {
    font-weight: bold;
}
.font-ex-large {
    font-size: 2.5em;
}
.font-large {
    font-size: 1.5em;
}
.font-small {
    font-size: 0.5em;
}
.hide {
    display: none !important
}
.left-align {
    text-align: left
}
.right-align {
    text-align: right
}
.center,
.center-align {
    text-align: center
}
.f {
    float: left !important
}
.right {
    float: right !important
}
.main-detail-section {
    padding: 2em;
    color: #003d43;
}
.main-detail-section h2 {
    font-size: 1.8em;
    font-weight: bold;
}
.text:first-child {
    text-align: right;
}
.text:nth-child(2) {
    text-align: left;
}
.col-2 .column {
    width: 49%;
}
.col-3 .column {
    padding: 0 1%;
    width: 33%;
    text-align: center;
}
.col-3 .column p {
    padding: 1.4em;
}
.column {
    display: inline-block;
    vertical-align: top;
}
.color {
    background: #dedede;
    color: #000;
    padding-top: 5%;
}
.color2 {
    background: #18a292;
    padding: 7% 4% 4% 4%;
}
section::before,
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
/* Triangulo sessão */

.divider-triangle::before,
.divider-triangle::after {
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.divider-triangle::after {
    bottom: -1.0em;
    z-index: 10;
    background: inherit;
}
/* Media Queries do layout */

@media screen and (max-width: 68em) {
    section {
        font-size: 80%;
    }
}
@media screen and (max-width: 54em) {
    .column {
        display: block;
        width: 100% !important;
    }
    .text:first-child,
    .text:nth-child(2) {
        text-align: center;
    }
    .icon {
        margin: 0 auto;
    }
    .col-2 .column:first-child .icon {
        margin: 0 auto 50px;
    }
    .col-2 .column:nth-child(2) .icon {
        margin: 50px auto 0;
    }
}
.carousel img {
    width: 100%;
    height: auto;
}
/* Grid */

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}
.row:after {
    content: "";
    display: table;
    clear: both
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px
}
.row .col[class*="push-"],
.row .col[class*="pull-"] {
    position: relative
}
.row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
}
.row .col.offset-s1 {
    margin-left: 8.3333333333%
}
.row .col.pull-s1 {
    right: 8.3333333333%
}
.row .col.push-s1 {
    left: 8.3333333333%
}
.row .col.offset-s2 {
    margin-left: 16.6666666667%
}
.row .col.pull-s2 {
    right: 16.6666666667%
}
.row .col.push-s2 {
    left: 16.6666666667%
}
.row .col.offset-s3 {
    margin-left: 25%
}
.row .col.pull-s3 {
    right: 25%
}
.row .col.push-s3 {
    left: 25%
}
.row .col.offset-s4 {
    margin-left: 33.3333333333%
}
.row .col.pull-s4 {
    right: 33.3333333333%
}
.row .col.push-s4 {
    left: 33.3333333333%
}
.row .col.offset-s5 {
    margin-left: 41.6666666667%
}
.row .col.pull-s5 {
    right: 41.6666666667%
}
.row .col.push-s5 {
    left: 41.6666666667%
}
.row .col.offset-s6 {
    margin-left: 50%
}
.row .col.pull-s6 {
    right: 50%
}
.row .col.push-s6 {
    left: 50%
}
.row .col.offset-s7 {
    margin-left: 58.3333333333%
}
.row .col.pull-s7 {
    right: 58.3333333333%
}
.row .col.push-s7 {
    left: 58.3333333333%
}
.row .col.offset-s8 {
    margin-left: 66.6666666667%
}
.row .col.pull-s8 {
    right: 66.6666666667%
}
.row .col.push-s8 {
    left: 66.6666666667%
}
.row .col.offset-s9 {
    margin-left: 75%
}
.row .col.pull-s9 {
    right: 75%
}
.row .col.push-s9 {
    left: 75%
}
.row .col.offset-s10 {
    margin-left: 83.3333333333%
}
.row .col.pull-s10 {
    right: 83.3333333333%
}
.row .col.push-s10 {
    left: 83.3333333333%
}
.row .col.offset-s11 {
    margin-left: 91.6666666667%
}
.row .col.pull-s11 {
    right: 91.6666666667%
}
.row .col.push-s11 {
    left: 91.6666666667%
}
.row .col.offset-s12 {
    margin-left: 100%
}
.row .col.pull-s12 {
    right: 100%
}
.row .col.push-s12 {
    left: 100%
}
@media only screen and (max-width: 600px) {
    .hide-on-small-only,
    .hide-on-small-and-down {
        display: none !important
    }
    .show-on-small-and-down {
        display: block !important;
    }
    .main-banner {
        padding-top: 1em;
    }
    .main-banner-box {
        height: 20em!important;
        float: right!important;
        position: relative!important;
        width: 200%!important;
        left: 150%!important;
        margin-top: 0%!important;
    }
    .main-banner-box .text {
        font-size: 0.6em !important;
        padding-top: 0em!important;
        padding-right: 0em!important;
    }
    .color section {
        padding: 0px !important;
    }
}
@media only screen and (max-width: 993px) {
    .main-banner {
        padding-top: 1em;
        height: 30em;
    }
    .main-banner-box {
        height: 20em;
        float: right;
        position: relative;
        width: 150%;
        left: 80%;
        margin-top: 5%;
    }
    .main-banner-box .text {
        font-size: 0.8em;
        padding-top: 6em;
        padding-right: 16em;
    }
    .color {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .color section {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .form-wrapper {
        width: 100%!important;
        margin-top: 1em!important;
    }
}
@media only screen and (max-width: 601px) {
    .row .col.m1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.offset-m1 {
        margin-left: 8.3333333333%
    }
    .row .col.pull-m1 {
        right: 8.3333333333%
    }
    .row .col.push-m1 {
        left: 8.3333333333%
    }
    .row .col.offset-m2 {
        margin-left: 16.6666666667%
    }
    .row .col.pull-m2 {
        right: 16.6666666667%
    }
    .row .col.push-m2 {
        left: 16.6666666667%
    }
    .row .col.offset-m3 {
        margin-left: 25%
    }
    .row .col.pull-m3 {
        right: 25%
    }
    .row .col.push-m3 {
        left: 25%
    }
    .row .col.offset-m4 {
        margin-left: 33.3333333333%
    }
    .row .col.pull-m4 {
        right: 33.3333333333%
    }
    .row .col.push-m4 {
        left: 33.3333333333%
    }
    .row .col.offset-m5 {
        margin-left: 41.6666666667%
    }
    .row .col.pull-m5 {
        right: 41.6666666667%
    }
    .row .col.push-m5 {
        left: 41.6666666667%
    }
    .row .col.offset-m6 {
        margin-left: 50%
    }
    .row .col.pull-m6 {
        right: 50%
    }
    .row .col.push-m6 {
        left: 50%
    }
    .row .col.offset-m7 {
        margin-left: 58.3333333333%
    }
    .row .col.pull-m7 {
        right: 58.3333333333%
    }
    .row .col.push-m7 {
        left: 58.3333333333%
    }
    .row .col.offset-m8 {
        margin-left: 66.6666666667%
    }
    .row .col.pull-m8 {
        right: 66.6666666667%
    }
    .row .col.push-m8 {
        left: 66.6666666667%
    }
    .row .col.offset-m9 {
        margin-left: 75%
    }
    .row .col.pull-m9 {
        right: 75%
    }
    .row .col.push-m9 {
        left: 75%
    }
    .row .col.offset-m10 {
        margin-left: 83.3333333333%
    }
    .row .col.pull-m10 {
        right: 83.3333333333%
    }
    .row .col.push-m10 {
        left: 83.3333333333%
    }
    .row .col.offset-m11 {
        margin-left: 91.6666666667%
    }
    .row .col.pull-m11 {
        right: 91.6666666667%
    }
    .row .col.push-m11 {
        left: 91.6666666667%
    }
    .row .col.offset-m12 {
        margin-left: 100%
    }
    .row .col.pull-m12 {
        right: 100%
    }
    .row .col.push-m12 {
        left: 100%
    }
    .color {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .color section {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .form-wrapper {
        width: 100%!important;
        margin-top: 1em!important;
    }
}
@media only screen and (min-width: 993px) {
    .row .col.l1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.offset-l1 {
        margin-left: 8.3333333333%
    }
    .row .col.pull-l1 {
        right: 8.3333333333%
    }
    .row .col.push-l1 {
        left: 8.3333333333%
    }
    .row .col.offset-l2 {
        margin-left: 16.6666666667%
    }
    .row .col.pull-l2 {
        right: 16.6666666667%
    }
    .row .col.push-l2 {
        left: 16.6666666667%
    }
    .row .col.offset-l3 {
        margin-left: 25%
    }
    .row .col.pull-l3 {
        right: 25%
    }
    .row .col.push-l3 {
        left: 25%
    }
    .row .col.offset-l4 {
        margin-left: 33.3333333333%
    }
    .row .col.pull-l4 {
        right: 33.3333333333%
    }
    .row .col.push-l4 {
        left: 33.3333333333%
    }
    .row .col.offset-l5 {
        margin-left: 41.6666666667%
    }
    .row .col.pull-l5 {
        right: 41.6666666667%
    }
    .row .col.push-l5 {
        left: 41.6666666667%
    }
    .row .col.offset-l6 {
        margin-left: 50%
    }
    .row .col.pull-l6 {
        right: 50%
    }
    .row .col.push-l6 {
        left: 50%
    }
    .row .col.offset-l7 {
        margin-left: 58.3333333333%
    }
    .row .col.pull-l7 {
        right: 58.3333333333%
    }
    .row .col.push-l7 {
        left: 58.3333333333%
    }
    .row .col.offset-l8 {
        margin-left: 66.6666666667%
    }
    .row .col.pull-l8 {
        right: 66.6666666667%
    }
    .row .col.push-l8 {
        left: 66.6666666667%
    }
    .row .col.offset-l9 {
        margin-left: 75%
    }
    .row .col.pull-l9 {
        right: 75%
    }
    .row .col.push-l9 {
        left: 75%
    }
    .row .col.offset-l10 {
        margin-left: 83.3333333333%
    }
    .row .col.pull-l10 {
        right: 83.3333333333%
    }
    .row .col.push-l10 {
        left: 83.3333333333%
    }
    .row .col.offset-l11 {
        margin-left: 91.6666666667%
    }
    .row .col.pull-l11 {
        right: 91.6666666667%
    }
    .row .col.push-l11 {
        left: 91.6666666667%
    }
    .row .col.offset-l12 {
        margin-left: 100%
    }
    .row .col.pull-l12 {
        right: 100%
    }
    .row .col.push-l12 {
        left: 100%
    }
}
@media only screen and (min-width: 1201px) {
    .row .col.xl1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.xl12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }
    .row .col.offset-xl1 {
        margin-left: 8.3333333333%
    }
    .row .col.pull-xl1 {
        right: 8.3333333333%
    }
    .row .col.push-xl1 {
        left: 8.3333333333%
    }
    .row .col.offset-xl2 {
        margin-left: 16.6666666667%
    }
    .row .col.pull-xl2 {
        right: 16.6666666667%
    }
    .row .col.push-xl2 {
        left: 16.6666666667%
    }
    .row .col.offset-xl3 {
        margin-left: 25%
    }
    .row .col.pull-xl3 {
        right: 25%
    }
    .row .col.push-xl3 {
        left: 25%
    }
    .row .col.offset-xl4 {
        margin-left: 33.3333333333%
    }
    .row .col.pull-xl4 {
        right: 33.3333333333%
    }
    .row .col.push-xl4 {
        left: 33.3333333333%
    }
    .row .col.offset-xl5 {
        margin-left: 41.6666666667%
    }
    .row .col.pull-xl5 {
        right: 41.6666666667%
    }
    .row .col.push-xl5 {
        left: 41.6666666667%
    }
    .row .col.offset-xl6 {
        margin-left: 50%
    }
    .row .col.pull-xl6 {
        right: 50%
    }
    .row .col.push-xl6 {
        left: 50%
    }
    .row .col.offset-xl7 {
        margin-left: 58.3333333333%
    }
    .row .col.pull-xl7 {
        right: 58.3333333333%
    }
    .row .col.push-xl7 {
        left: 58.3333333333%
    }
    .row .col.offset-xl8 {
        margin-left: 66.6666666667%
    }
    .row .col.pull-xl8 {
        right: 66.6666666667%
    }
    .row .col.push-xl8 {
        left: 66.6666666667%
    }
    .row .col.offset-xl9 {
        margin-left: 75%
    }
    .row .col.pull-xl9 {
        right: 75%
    }
    .row .col.push-xl9 {
        left: 75%
    }
    .row .col.offset-xl10 {
        margin-left: 83.3333333333%
    }
    .row .col.pull-xl10 {
        right: 83.3333333333%
    }
    .row .col.push-xl10 {
        left: 83.3333333333%
    }
    .row .col.offset-xl11 {
        margin-left: 91.6666666667%
    }
    .row .col.pull-xl11 {
        right: 91.6666666667%
    }
    .row .col.push-xl11 {
        left: 91.6666666667%
    }
    .row .col.offset-xl12 {
        margin-left: 100%
    }
    .row .col.pull-xl12 {
        right: 100%
    }
    .row .col.push-xl12 {
        left: 100%
    }
}
/* Accordion */

button.accordion {
    background-color: #18a292;
    color: #fff;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
button.accordion.active,
button.accordion:hover {
    background-color: #107065;
}
button.accordion:after {
    content: '\203A';
    color: #fff;
    font-size: 1.5em;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: '\203A';
    color: #fff;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
}
div.panel {
    padding: 2px;
    background-color: #ededed;
    color: #000;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
}
/* Carosel */

.bw .fw {
    padding: 90%;
    margin-top: 90%;
    width: 100%;
}
.arrow img {
    margin-top: 80%!important;
}
/* Formuĺário  */

.fl {
    float: left;
}
.fc:after {
    padding-top: 20px;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.form-wrapper {
    width: 80%;
    margin: 0px auto;
}
.form-wrapper .form-header {
    background: #107065;
    color: #fff;
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 17px;
}
.form-wrapper .form-header h1 {
    font-size: 17px;
    color: #fff;
    display: inline;
    font-weight: 100;
    margin-top: 5px;
}
.form-wrapper .form-header span {
    font-size: 18px;
    display: inline-block;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.form-wrapper .form-container {
    background: #fefefe;
    padding: 25px 30px 12px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.field input {
    width: 190px;
    height: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ccc;
    border-left: none;
    color: #a09f9f;
}
.form-footer {
    background: #fff;
    border-radius: 0px 0px 15px 15px;
    padding: 15px 20px;
}
.form-footer a {
    display: block;
    background: #a2c108;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0% 20% 0% 20%;
    color: #164b3f;
    font-size: 16px;
    cursor: pointer;
}
.form-radio,
.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}
.form-group input {
    height: 1.9rem;
}
.form-group textarea {
    resize: none;
}
.form-group .control-label {
    position: absolute;
    left: 0px;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}
.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}
.form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}
.form-group input,
.form-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}
.form-group input:focus,
.form-group input:valid,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
    color: #333;
}
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
    color: #337ab7;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
}
.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
    color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}
.has-error .bar::before {
    background: #d9534f;
    left: 0;
    width: 100%;
}